---
layout: default
---
<div class="row">
 <div class="col-12 slider slider-main slider-sm parent d-none d-lg-block">
  <div class="row child" style="width: 100%">
   <div class="col-4 align-middle"></div>
   <div class="col-4 slider-text align-middle">
    <div class="child">
     Flexible &amp; Powerful Open Source<br/> Multi-Protocol Messaging Broker
    </div>
   </div>
   <div class="col-4 align-middle" >
    <img src="{{site.baseurl}}/assets/img/main-logo.png" style="height: 250px"/>
   </div>
  </div>
 </div>
</div>

<div class="container">
<!-- Narative -->
<div class="row d-none d-lg-block">
<div class="col-sm-12 narative">
  <div class="card">
    <div class="card-body narative">
      <span>
         <p>Apache ActiveMQ&trade; is the most popular and powerful open source, Java-based message broker. It supports AMQP, STOMP, MQTT, & OpenWire, makes it easy to use Enterprise Integration Patterns via Camel, and provides many advanced features like load-balancing among multiple connected brokers and high-availability to mitigate data loss and broker down-time. Apache ActiveMQ is released under the Apache 2.0 License</p>
      </span>
    </div>
  </div>
</div>
</div>
<!-- Projects -->
<div class="row align-middle">
<div class="col-lg-6 col-md-auto">
  <div class="card card-pink">
    <div class="card-body">
      <h4 class="card-title text-pink">ActiveMQ 5 "Classic"</h4>
      <p>Long established, endlessly pluggable architecture serving many generations of applications.</p>
      <ul>
        <li>JMS 1.1</li>
        <li>High availability using shared storage</li>
        <li>Familiar JMS-based addressing model</li>
        <li>"Network of brokers" for distributing load</li>
        <li>KahaDB & JDBC options for persistence</li>
      </ul>
      <a style="margin-top: 10px" href="{{site.baseurl}}/projects/classic" class="btn btn-secondary">Find out more<i class="fa-info-circle fa btn-icon"></i></a>
      <button style="margin-top: 10px" href="#" class="btn btn-secondary">Download Latest<i class="fa-download fa btn-icon"></i></button>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-auto">
  <div class="card card-purple">
    <div class="card-body">
      <h4 class="card-title text-purple">ActiveMQ Artemis</h4>
      <p>High-performance, non-blocking architecture for the next generation of event-driven messaging applications.</p>
      <ul>
        <li>JMS 1.1 & 2.0</li>
        <li>High availability using shared storage or network replication</li>
        <li>Simple & powerful protocol agnostic addressing model</li>
        <li>Flexible clustering for distributing load</li>
        <li>Advanced journal implementations for low-latency persistence as well as JDBC</li>
        <li>High feature parity with ActiveMQ 5</li>
      </ul>
      <a style="margin-top: 10px" href="{{site.baseurl}}/projects/artemis" class="btn btn-warning">Find out more<i class="fa-info-circle fa btn-icon"></i></a>
      <button style="margin-top: 10px" href="#" class="btn btn-warning">Download Latest<i class="fa-download fa btn-icon"></i></button>
    </div>
  </div>
</div>
<!--div class="col-lg-3 col-md-6">
  <div class="card card-orange">
    <div class="card-body">
      <h5 class="card-title text-orange">NMS</h5>
      <h6>.NET CLIENTS</h6>
      <p>Short description of NMS Clients</p>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
      </ul>
      <a style="margin-top: 10px" href="{{site.baseurl}}/projects/nms" class="btn btn-success">Find out more<i class="fa-info-circle fa btn-icon"></i></a>
      <button style="margin-top: 10px" href="#" class="btn btn-success">Download Latest<i class="fa-download fa btn-icon"></i></button>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-6">
  <div class="card card-blue">
    <div class="card-body">
      <h5 class="card-title text-blue">CMS</h5>
      <h6>C++ CLIENT</h6>
      <p>Short description of CMS Client</p>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
      </ul>
      <a style="margin-top: 10px" href="{{site.baseurl}}/projects/cms" class="btn btn-info">Find out more<i class="fa-info-circle fa btn-icon"></i></a>
      <button style="margin-top: 10px" href="#" class="btn btn-info">Download Latest<i class="fa-download fa btn-icon"></i></button>
    </div>
  </div>
</div-->
</div>

</div>

{% include features.html %}
{% include users.html %}
